### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Visual Studio Code ###
.vscode/
.settings/
.classpath
.project
.factorypath

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar

### SonarQube ###
.scannerwork

### macOS ###
.DS_Store

### Project ###
example/
